.container{
    padding-bottom: 50px;

}
.get-started{
    padding: 0px 100px;
}
.categories {
    margin-top: 100px;

}
.categories img{
    width: 40px;
    height: 50px;
}
.container h4{
    color:#5f5879;
    padding-top: 15px;
}
.light-bg{
    background-color: #f0fff0;
}
.logo{
    height:50px;
}
.get-started-button{
    background-color:#21b572;
    color:#fff;
    border:none;
    border-radius:15px;
    padding: 9px 25px;
    cursor: pointer;
}
.text-green{
    color:#21b572;
}
.illustration-img{
    width:100%;
}
.advertise-img{
    width:40px;
    height:50px;
    
}
.col-md-3{
    background-color:#f9fdf9;
    
}