.container{
    padding:50px 100px;

}
.light-bg{
    background-color: #f0fff0;
}
.logo{
    height:50px;
}
.get-started-button{
    background-color:#21b572;
    color:#fff;
    border:none;
    border-radius:15px;
    padding: 9px 25px;
    cursor: pointer;
}
.text-green{
    color:#21b572;
}
.illustration-img{
    width:100%;
}